annotated-doc     
annotated-types   
anyio             
bcrypt            
click             
dnspython         
dotenv            
ecdsa             
email-validator   
fastapi          
h11              
idna             
passlib                       
psycopg2         
pyasn1           
pydantic          
pydantic_core   
python-dotenv     
python-jose       
python-multipart 
rsa              
six               
SQLAlchemy        
starlette         
typing_extensions 
typing-inspection 
uvicorn           